body {
  background-image: url("https://images.pexels.com/photos/590022/pexels-photo-590022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  text-align: center;
  margin: 5% 20%;
  padding: 10%;
  background-color: antiquewhite;
}

h1,
h2,
p {
  margin: 2% 2%;
  padding: 1%;
  background-color: antiquewhite;
}

form p {
  font-size: 26px;
}

button {
  font-size: 20px;
  background-color: rgb(1, 1, 40);
  color: aliceblue;
}

button:hover {
  font-size: 22px;
  background-color: rgb(247, 242, 242);
  color: rgb(22, 2, 2);
}
